<mat-toolbar style="justify-content: space-between;">
    <span>Przemioty licytacji
        <button *ngIf="isAdmin" mat-raised-button color="primary" (click)="addNewSubject()" style="margin-left: 18px; font-size: inherit;">Dodaj</button>
    </span>
    <span>
        <span style="padding-right: 40px;"> Użytkownik: {{ userInfo.username }}</span>
        <button mat-stroked-button color="basic" (click)="logout()" style="font-size: 18px;">Wyloguj</button>
    </span>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [fixedInViewport]="true" [fixedBottomGap]=0 [fixedTopGap]=64 disableClose="true" 
        opened style="border-top: 1px solid rgb(219, 214, 205); width: 200px; height: 100%;">
        <!-- <mat-selection-list [(ngModel)]="subjectsFilter" [multiple]="false" style="margin-bottom: 15px; border-bottom: 1px solid rgb(219, 214, 205);">
            <mat-list-option [value]="SubjectsFilter.Bidded.value">Licytowane</mat-list-option>
            <mat-list-option value="SubjectsFilter.Active">Aktywne</mat-list-option>
            <mat-list-option value="SubjectsFilter.Bought">Kupione</mat-list-option>
            <mat-list-option value="SubjectsFilter.Archive" *ngIf="isAdmin">Archiwalne</mat-list-option>
        </mat-selection-list> -->
        <!-- (selectionChange)="onFilterChange()" - zamieniam na click, żeby się odświeżało -->
        <mat-selection-list [(ngModel)]="subjectsFilter" (click)="onFilterChange()" [multiple]="false" style="margin-bottom: 15px; border-bottom: 1px solid rgb(219, 214, 205);">
            <div *ngFor="let filter of keys(subjectFiltersEnum)">
                <mat-list-option *ngIf="(filter!='Archive' || filter!='New') || isAdmin" [selected]="filter=='Active'" [value]="subjectFiltersEnum[filter]">{{ subjectFiltersEnum[filter] }}</mat-list-option>
            </div>
            <!-- <mat-list-option *ngFor="let filter of keys(filters)" [value]="filters[filter]">{{ filters[filter] }}</mat-list-option> -->
        </mat-selection-list>
        <form #searchForm="ngForm" style="display: flex; width: 165px;">
            <mat-form-field style="padding-left: 16px; width: 140px; font-size: 16px;">
                <input matInput placeholder="Szukaj" spellcheck="false" [(ngModel)]="searchSubjectName" name="search" #search="ngModel"/>
            </mat-form-field>
            <div style="display: flex; align-items: center;">
                <button mat-icon-button style="color:rgb(0 0 0 /70%)" (click)="searchSubject()" type="submit">
                    <mat-icon>arrow_right_alt</mat-icon>
                </button>
            </div>
        </form>
        <div style="padding: 10px 16px; font-size: 16px;">
            <div style="padding-bottom: 5px;">
                Kategorie:
            </div>
            <mat-form-field style="width: 165px;" (focusout)="filterSubjects()">
                <mat-label *ngIf="!selectedCategories || selectedCategories?.length == 0">Wybierz</mat-label>
                <mat-select [(ngModel)]="selectedCategories" multiple name="categories" [compareWith]="comparer">
                    <mat-select-trigger>
                        <!-- {{ selectedCategories?.length == categories?.length ? 'Wszystkie' : selectedCategories ? selectedCategories[0]?.name : '' }}
                        <span *ngIf="selectedCategories?.length > 1 && selectedCategories.length !== categories.length" class="additional-selection">
                            (+{{selectedCategories.length - 1}} {{selectedCategories.length === 2 ? 'inna' : 'inne'}})
                        </span> -->
                        Wybierz
                        <span class="additional-selection">
                            ({{ selectedCategories?.length }})
                        </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let category of categories" [value]="category">
                        {{ category.name }} 
                        <button *ngIf="isAdmin" mat-icon-button style="position: absolute; right: 0" (click)="deleteCategory(category.name)">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button *ngIf="isAdmin" mat-icon-button color="primary" (click)="addNewCategory()" style="top: 5px">
                Dodaj kategorię
            </button>
            <div style="padding: 10px 0;">
                Wybrane:
            </div>
            <li *ngFor="let category of selectedCategories" style="overflow: auto; white-space: nowrap;">
                {{ category.name }}  
            </li>
            <button (click)="test()">test</button>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile *ngFor="let subject of filteredSubjects">
                <app-subject-card [subjectInput]="subject" [isAdmin]="isAdmin" (refreshEvent)="refresh()"></app-subject-card>
            </mat-grid-tile>
        </mat-grid-list>
        <!-- <div style="display: flex; width: 165px;">
            <mat-form-field style="padding-left: 16px; width: 140px; font-size: 16px;">
                <input matInput placeholder="Szukaj" [(ngModel)]="searchSubject"/>
            </mat-form-field>
            <div style="display: flex; align-items: center;">
                <button [disabled]="testtest()" mat-icon-button color="primary" (click)="test()" type="submit">
                    <mat-icon>arrow_right_alt</mat-icon>
                </button>
            </div>
        </div> -->
    </mat-sidenav-content>

</mat-sidenav-container>

